[% dometa = 'yes' %]
<div class="page">
  <div class="header">
    <div class="logo"><a href="/"><img src="/i/logo.png"></a></div>
    <h1 class="[% article.attrs.class %]">[% article.attrs.title %]
      <span>[% article.attrs.dated %]</span>
      <span>[% article.attrs.author %]</span></h1>
  </div>
  <div class="body"><div>
    [% article.attrs.body %]
  </div></div>
</div>

