html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul, nav {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** **/
body {
  font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
body > header {
  background-color: #000;
  color: #fff;

  padding: 8px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  position: fixed; top: 0; left: 0; right: 0;
}
body > header nav {
  display: flex;
  flex-flow: row;
}
body > header nav li {
  margin-right: 1.5em;
}
body > header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 12pt;
  font-family: Open Sans Condensed, sans-serif;
  text-transform: uppercase;
}
body main .header img.logo { margin: 5vh auto !important; }
body main .header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main .band {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
body main h1 { font-size: 36px; }
body main p { line-height: 1.25em; margin: 2em 0; }
body main .band > div { box-sizing: border-box; padding: 2em; }
body main .band img { max-width: 100%; display: block; margin: 0 auto; }

body main .band > div { width: 100vw; }
body main .band.b > div { background-color: #000;    color: #fff; }
body main .band.d > div { background-color: #ec008c; }
body main .band.a > div { background-color: #fbe408; }
body main .band.m > div { background-color: #64bc47; }
body main .band.n > div { background-color: #25aae1; }
body main .band.w > div { background-color: #fff; }
body main .band > div.mt { background-color: transparent; }

body main .band > div:nth-child(2) { padding: 5vw; }
body main .band > div:nth-child(2) pre code,
body main .band > div:nth-child(2) img {
  box-shadow: 2px 3px 20px #000;
}
body main .band > div:nth-child(2) pre code {
  font-size: 75%;
  display: block;
  border-radius: 9px;
  padding: 12px;
  line-height: 1.5em;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: monospace;
}

body main .band.b.footer p   { font-size: 80%; margin: 0; }
body main .band.b.footer p * { color: inherit; }

body {
  background: linear-gradient(#ffffff00, #ffffff00), url(/i/hero.jpg),
    linear-gradient(#ffffffcc, #ffffffcc),
    /* generated by themes/ryodi/stripes.pl: */
    linear-gradient(98.6deg,
        #ec008c  0%  1%, #fbe408  1%  2%, #64bc47  2%  3%, #25aae1  3%  4%,
        #ec008c  4%  5%, #fbe408  5%  6%, #64bc47  6%  7%, #25aae1  7%  8%,
        #ec008c  8%  9%, #fbe408  9% 10%, #64bc47 10% 11%, #25aae1 11% 12%,
        #ec008c 12% 13%, #fbe408 13% 14%, #64bc47 14% 15%, #25aae1 15% 16%,
        #ec008c 16% 17%, #fbe408 17% 18%, #64bc47 18% 19%, #25aae1 19% 20%,
        #ec008c 20% 21%, #fbe408 21% 22%, #64bc47 22% 23%, #25aae1 23% 24%,
        #ec008c 24% 25%, #fbe408 25% 26%, #64bc47 26% 27%, #25aae1 27% 28%,
        #ec008c 28% 29%, #fbe408 29% 30%, #64bc47 30% 31%, #25aae1 31% 32%,
        #ec008c 32% 33%, #fbe408 33% 34%, #64bc47 34% 35%, #25aae1 35% 36%,
        #ec008c 36% 37%, #fbe408 37% 38%, #64bc47 38% 39%, #25aae1 39% 40%,
        #ec008c 40% 41%, #fbe408 41% 42%, #64bc47 42% 43%, #25aae1 43% 44%,
        #ec008c 44% 45%, #fbe408 45% 46%, #64bc47 46% 47%, #25aae1 47% 48%,
        #ec008c 48% 49%, #fbe408 49% 50%, #64bc47 50% 51%, #25aae1 51% 52%,
        #ec008c 52% 53%, #fbe408 53% 54%, #64bc47 54% 55%, #25aae1 55% 56%,
        #ec008c 56% 57%, #fbe408 57% 58%, #64bc47 58% 59%, #25aae1 59% 60%,
        #ec008c 60% 61%, #fbe408 61% 62%, #64bc47 62% 63%, #25aae1 63% 64%,
        #ec008c 64% 65%, #fbe408 65% 66%, #64bc47 66% 67%, #25aae1 67% 68%,
        #ec008c 68% 69%, #fbe408 69% 70%, #64bc47 70% 71%, #25aae1 71% 72%,
        #ec008c 72% 73%, #fbe408 73% 74%, #64bc47 74% 75%, #25aae1 75% 76%,
        #ec008c 76% 77%, #fbe408 77% 78%, #64bc47 78% 79%, #25aae1 79% 80%,
        #ec008c 80% 81%, #fbe408 81% 82%, #64bc47 82% 83%, #25aae1 83% 84%,
        #ec008c 84% 85%, #fbe408 85% 86%, #64bc47 86% 87%, #25aae1 87% 88%,
        #ec008c 88% 89%, #fbe408 89% 90%, #64bc47 90% 91%, #25aae1 91% 92%,
        #ec008c 92% 93%, #fbe408 93% 94%, #64bc47 94% 95%, #25aae1 95% 96%,
        #ec008c 96% 97%, #fbe408 97% 98%, #64bc47 98% 99%, #25aae1 99% 100%);

  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 799px) {
  body main > .sp { background: linear-gradient(180deg, #000, 1px, transparent), linear-gradient(0deg, #000, 1px, transparent); }
  body main > .sp.sp1 { height: 10vh; }
  body main > .sp.sp2 { height: 20vh; }
  body main > .sp.sp3 { height: 30vh; }

  body main .band.d > div:nth-child(2) { background: linear-gradient(180deg, #000, 1px, transparent), linear-gradient(0deg, #000, 1px, #ec008c); }
  body main .band.a > div:nth-child(2) { background: linear-gradient(180deg, #000, 1px, transparent), linear-gradient(0deg, #000, 1px, #fbe408); }
  body main .band.m > div:nth-child(2) { background: linear-gradient(180deg, #000, 1px, transparent), linear-gradient(0deg, #000, 1px, #64bc47); }
  body main .band.n > div:nth-child(2) { background: linear-gradient(180deg, #000, 1px, transparent), linear-gradient(0deg, #000, 1px, #25aae1); }
  body main .band > div.mt { display: none; }
}

@media only screen and (min-width: 800px) {
  body main .band {
    flex-direction: row;
  }

  body main .band > div:nth-child(1) { width: 40vw; }
  body main .band > div:nth-child(2) { width: 60vw; }
  body main .band.d > div:nth-child(2) { background: linear-gradient(90deg, #000, 1px, #ec008c); }
  body main .band.a > div:nth-child(2) { background: linear-gradient(90deg, #000, 1px, #fbe408); }
  body main .band.m > div:nth-child(2) { background: linear-gradient(90deg, #000, 1px, #64bc47); }
  body main .band.n > div:nth-child(2) { background: linear-gradient(90deg, #000, 1px, #25aae1); }
  body main .band > div.mt:nth-child(2) { background: linear-gradient(90deg, #000, 1px, transparent); }
}
